.btns {
    display: flex;
    justify-content: center;
    margin-top: 8%;
    justify-content: space-evenly; 
    background-color: #3F0D12;
    /* background-image: url(rock\ paper\ scissor\ banner3.jpg);
    background-size: cover; */
    height: 200px;
    width:30%;
    align-items: center;
    flex-direction: column;
}


.quit{
    display: flex;
    justify-content: center;
    margin-top: 5%;
    justify-content: space-evenly; 
    width: 200px;


}
.scoreboard { 
    font-size: 18px; 
}
.box{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly; 


    
}
#rockBtn {
    background-image: url("/static/images/rock.jpg");
    background-size: cover;
    width: 100px;
    border-radius: 20px;
    height: 100px;
}
#paperBtn{
    background-image: url("/static/images/paper.jpg");
    background-size: cover;
    width: 100px;
    border-radius: 20px;
    height: 100px;


}
#scissorBtn{
    background-image: url("/static/images/scissors.jpg");
    background-size: cover;
    width: 100px;
    border-radius: 20px;
    height: 100px;


}
.allbtn{
    background-color: #261C1B;
    /* background-image: url(rock\ paper\ scissor\ banner3.jpg);
    background-size: cover; */
    height: 400px;

}
.scoreboard{
    background-color: #7B263A;
    align-items: center;
    text-align: center;
    /* height: 100px; */
}
.text{
    display: flex;
    justify-content: space-evenly;
    width: 300px;

}
p{
    margin-top: 0px;
}
.buttons {
    display: flex ;
}